{% extends 'base.html.twig' %}
{% block header %}
<div class="navigation ">
  <nav>
    <ul class="sf-menu">
     <li class="current"><a href="/">Accueil</a></li>
     <li><a href="menus">Menus</a></li>
     <li><a href="menus"> Contact</a></li>
     <li><a href="admin"> Administration</a></li>
   </ul>
  </nav>
  <div class="clear"></div>
</div>
{% endblock %}
{% block body %}
<!--=====================
        Content
======================-->
<section class="content"><div class="ic">More Website Templates @ TemplateMonster.com - July 30, 2014!</div>
<div class="container">
  <div class="row">
    <div class="grid_6">
      <div class="banner">
    <div class="gall_block">
        <img src="http://www.recette-ramen.fr/wp-content/uploads/2014/05/Ramen-Crevette-2.jpg" alt="">
        <div class="bann_capt ">
          <div class="maxheight">
            <img src="images/icon1.png" alt="">
            <div class="bann_title"> Cuisine Traditionel</div>
            <a href="#">Plus</a>
          </div>
        </div>
      </div>
   </div>
    </div>
    <div class="grid_5">
      <div class="banner">
    <div class="gall_block">
        <div class="bann_capt  bn__1">
          <div class="maxheight">
            <img src="images/icon2.png" alt="">
            <div class="bann_title">Menu enfants</div>
            <a href="#">Plus</a>
          </div>
        </div>
        <img src="http://www.recette-ramen.fr/wp-content/uploads/2016/04/Narutomaki.jpg" alt="">
      </div>
  </div>
    </div>
    <div class="grid_5">
      <div class="banner ">
    <div class="gall_block">
        <img src="http://www.recette-ramen.fr/wp-content/uploads/2014/05/4426991710_c1e6e8a3e8_b.jpg" alt="">
        <div class="bann_capt  bn__2">
          <div class="maxheight">
            <img src="images/icon3.png" alt="">
            <div class="bann_title">Menu dégustation</div>
            <a href="#">Plus</a>
          </div>
        </div>
    </div>
      </div>
    </div>

  </div>
</div>
</section>
{% endblock %}
